.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;

	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1001;

	max-width: 90vw;
	max-height: 90vh;

	padding: 36px 24px 24px;

	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  
  color: #242424;

	overflow: auto;
	transform: translate(-50%, -50%);
}

.modal-close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  width: 28px;
  height: 28px;

  background: none;
  border: none;
  border-radius: 4px;
  
  font-size: 1.3em;
  color: #c2c2c2;

  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f0f0f0;
  }
}
