.service-list {
  font-size: 1rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6em;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 0.6em 1.2em;

    background-color: #3a3a3a;
    border-radius: 8px;
  }
}
