:root {
  background-color: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;

  padding: 0.6em 1.2em;

  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible 
  {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
