:root {
  background-color: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 600px) {
    font-size: 14px;
  }
  
  @media (max-width: 374px) {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

button {
  cursor: pointer;
  transition: 0.4s;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

ul, ol {
  list-style: none;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1280px;
}
